*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    background-color: #060D08;
    font-family: Inter, sans-serif;
    color: #FBEDC3;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    min-height: 100vh;

    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card {
    background-color: #1D2A10;
    width: 100%;
    max-width: 32rem;
    min-height: 35rem;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

h1 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 0;
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
}

.location {
    font-weight: 700;
    color: #DCAE74;
    font-size: 0.875rem;
}

.statement {
    font-weight: 400;
    font-size: 1rem;
    padding-top: 1.5rem;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}


a.menu:link, a.menu:visited {
    background-color: #4D5026;
    color: #FBEDC3;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.8rem 0.75rem;
    margin: 0.9rem;
    text-align: center;
    text-decoration: none;
    display: block;
}

a.menu:focus-within {
    background: #D78B30;
    color: #060D08;
}

a.menu:hover, a.menu:active {
    background: #D78B30;
    color: #060D08;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #DCAE74; }